@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Расчетно-графическая работа </h1>
    <p class="lead">Расчетно-графическая работа на тему "Автосервис"<br/> Cтудента группы ИВТ-163 Пелипенко Александра</p>
</div>
